
.treeView {
    border: solid 1px #0D4F7C;
}

.treeView-nodeOdd {
    background-color: #E5F3FE;
}

.treeView-nodeEven {
    background-color: #ffffff;
    /* background-color: #fff0f0; */
}

.treeView-noChild {
    border: none;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 30px;    
}

.treeView-withChild {
    border: none;
    padding: 2px;    
}

.treeView-withChild:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.treeView-withChild span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-color: #f0f0f0;
    text-align: center;
    vertical-align: middle;
}

.treeView-withChild span:hover {
    background-color: #d0d0d0;
}



